:root {
  --primary: #743211;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 7px 1.5rem 0 rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  font-family: "Audiowide", sans-serif;
  margin-right: 65rem;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.logo-sc > img {
  width: 30px;
  height: 30px;
}

.logo-sc {
  background-color: #fff;
  border-radius: 50px;
  width: 30px;  
  height: 30px;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/home-pict.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1d1c1c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero .container .input {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.hero .container .button {
  width: 100px;
  padding: 10px;
  background-color: var(--primary);
  color: #000;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.hero .container .button:hover {
  background-color: #55260f;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 7%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .contain {
  padding: 1.4rem 7%;
  top: 0;
}

.hero .contain h1 {
  display: flex;
  font-size: 3em;
  padding: 1rem 7% 0.1rem;
  justify-content: center;
  text-align: right;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  top: 0;
  font-family: "Audiowide", sans-serif;
}

.hero .contain h1 span {
  color: var(--primary);
}

.hero .contain h2 {
  color: #000;
  text-shadow: 1px 1px 3px var(--primary);
  top: 0;
}

.hero .contain p {
  font-size: 2.5rem;
  margin-top: -2rem;
  text-align: center;
  line-height: 1.4;
  font-weight: 400;
  text-shadow: 3px 5px 4px rgba(1, 1, 3, 0.5);
  color: #fff;
}

.hero .contain .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}

/* Products Section */
#products {
  position: relative;
  overflow: hidden;
  padding: 5rem;
}

.product-card h1 {
  margin-bottom: 1rem;
}

.product-container {
  display: flex; /* Menggunakan flexbox */
  flex-wrap: wrap; /* Memungkinkan konten untuk melintasi baris */
  justify-content: center; /* Memposisikan konten di tengah secara horizontal */
}

.product-card {
  width: 300px; /* Lebar kartu produk */
  margin: 15px; /* Ruang di antara setiap kartu */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card .product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card .product-info-1 {
  margin-top: 20px;
}

.product-card .product-name {
  font-size: 17px;
  margin-bottom: 10px;
}

.product-card .product-description {
  font-size: 16px;
  color: var(--primary);
  margin-bottom: 10px;
}

.product-card .product-price {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* About Section */

/* Video sebagai latar belakang */
#about {
  position: relative;
  overflow: hidden;
  padding: 6rem;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--bg);
}

.spesifikasi {
  /* Style spesifikasi */
  position: absolute; /* Menjadikan posisi absolut */
  margin-top: -25rem;
  right: 1210px; /* Menyesuaikan jarak dari kanan */
  padding: 10px; /* Padding agar teks tidak terlalu dekat dengan border */
  background-color: #000; /* Warna latar belakang */
  border: 1px solid #ccc; /* Border untuk menampilkan batas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow untuk efek melayang */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

textarea {
  height: 100px; /* Adjust as needed */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #743211;
  color: #000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #55260f;
}

/* Style tambahan sesuaikan dengan kebutuhan Anda */
h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

h2 span {
  color: var(--primary);
}

h3,
h4 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

/* Memberi efek transparansi pada teks agar terlihat lebih jelas di atas video */
.content h3,
.content h4,
.content p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

/*.about {
    padding: 8rem 7% 1.4rem;
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;

}

.about h2 span {
    color: var(--primary);
}

.about-img {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 30rem;
}

.about .content {
    margin-top: 2rem;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 75%;
}

.about .row .content {
    top: 0;
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 2rem;
}

.about .row .content h4 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2;
}*/

/* Footer */
footer {
  background-color: var(--primary);
  justify-content: center;
  padding: 0.1em 0;
  margin-top: 0;
  border-top: 1px solid var(--bg);
}

footer .social {
  padding: 0.2rem 0;
  margin-top: 0.5em;
  align-items: center;
  text-align: center;
}

footer .social a {
  color: #fff;
  margin: 0.3rem;
}

footer .social a:hover {
  color: var(--bg);
}

footer .links {
  text-align: center;
}

footer .links a {
  color: #fff;
  padding: 0.5rem 0.3rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .credit {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
}

footer .credit a {
  color: var(--bg);
}

img {
  image-rendering: auto;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .selected {
    color: var(--bg);
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.2rem;
  }

  .menu {
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .navbar .dom ul li a {
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 0.2rem 0.6em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    transition: 0.3s;
  }

  .navbar .dom ul li a {
    flex-wrap: wrap;
  }

  .caret {
    width: 0;
    height: 0;
    margin: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid var(--bg);
    transition: 0.2s linear;
  }

  .dropdown .selected .menu:after {
    transform-origin: 0 0;
  }

  .dropdown .selected .menu:hover::after {
    transform: scaleX(0.2);
  }

  .select-clicked {
    border-width: 1px solid;
    border: 2px var(--primary) solid;
    box-shadow: 0 0 0.8em #26489a;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .logo-unpam {
    display: none;
  }

  .navbar .navbar-extra #user {
    display: none;
  }

  .navbar {
    background-color: var(--bg);
  }

  .about-img img {
    margin-right: auto;
    margin-bottom: 30px;
  }

  .about h2 {
    margin-top: 30px;
  }

  .spesifikasi {
    position: relative;
    margin-top: 20px; /* Mengubah margin top untuk penyesuaian pada layar kecil */
    right: 2%; /* Mengubah jarak dari kanan */
    padding: 15px; /* Mengubah padding untuk penyesuaian pada layar kecil */
    font-size: 0.8em; /* Mengurangi ukuran font untuk penyesuaian pada layar kecil */
    align-items: center;
    justify-content: center;
  }

  .hero .container {
    max-width: 300px;
    margin: 20px auto;
    padding: 15px;
  }

  .hero .container .input {
    width: calc(100% - 90px);
  }

  .hero .container .button {
    width: 80px;
  }

}

/* Handphone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
}
